:root {
  --white: #ffffff;

  --black: #232323;

  --grey: #d1d3d4;

  --green: #3c5725;
  --blue: #242042;
  --robin: #c6d4e3;

  --violet: #5955a4;
  --violet-accent: #7773cd;


  --pink:#f88080;
  --pink-accent: #fda2a2;

  --yellow: #ffc32b;
  --yellow-accent: #f3ae00;

  --orange: #cd5b19;
  --orange-accent: #d4601d;
}

.light {
  --color-background: #e9e8ec;
  --color-border: var(--black);
  --color-text: var(--black);
  --color-text-secondary: var(--black);
  --color-link: var(--black);
  --color-link-active: var(--yellow-accent);
  --color-chip: var(--yellow);
  --color-button-background: var(--yellow);
  --color-button-background-active: var(--yellow-accent);
  --color-button-text: var(--black);
}

.dark {
  --color-background: var(--black);
  --color-border: var(--white);
  --color-text: var(--white);
  --color-text-secondary: var(--white);
  --color-link: var(--white);
  --color-link-active: var(--violet-accent);
  --color-chip: var(--violet);
  --color-button-background: var(--violet);
  --color-button-background-active: var(--violet-accent);
  --color-button-text: var(--white);
}

.robin {
  --color-background: var(--robin);
  --color-border: var(--black);
  --color-text: var(--black);
  --color-text-secondary: var(--black);
  --color-link: var(--black);
  --color-link-active: var(--orange-accent);
  --color-chip: var(--orange);
  --color-button-background: var(--orange);
  --color-button-background-active: var(--orange-accent);
  --color-button-text: var(--white);
}

.blue {
  --color-background: var(--blue);
  --color-border: var(--white);
  --color-text: var(--white);
  --color-text-secondary: var(--yellow);
  --color-link: var(--white);
  --color-link-active: var(--yellow-accent);
  --color-chip: var(--yellow);
  --color-button-background: var(--yellow);
  --color-button-background-active: var(--yellow-accent);
  --color-button-text: var(--blue);
}

.green {
  --color-background: var(--green);
  --color-border: var(--white);
  --color-text: var(--white);
  --color-text-secondary: var(--pink);
  --color-link: var(--white);
  --color-link-active: var(--pink-accent);
  --color-chip: var(--pink);
  --color-button-background: var(--pink);
  --color-button-background-active: var(--pink-accent);
  --color-button-text: var(--white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: 400;
  transition: color .4s;
  transition: background-color .4s;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-text);
  padding: 1rem;
  background: var(--color-background);
  line-height: 1.6;
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include lg {
    padding: 2rem;
  }
}

.mobile-only {
  @include lg {
    display: none;
  }
}