:root {
  --white: #ffffff;

  --black: #232323;

  --grey: #d1d3d4;

  --green: #3c5725;
  --violet: #5955a4;
  --pink: #fda2a2;
}

.light {
  --color-background: #e9e8ec;
  --color-border: var(--black);
  --color-text: var(--black);
  --color-text-secondary: var(--black);
  --color-link: var(--black);
  --color-link-active: var(--violet);
  --color-chip: var(--violet);
}

.dark {
  --color-background: var(--black);
  --color-border: var(--white);
  --color-text: var(--white);
  --color-text-secondary: var(--white);
  --color-link: var(--white);
  --color-link-active: var(--violet);
  --color-chip: var(--violet);
}

.red {
  --color-background: red;
  --color-border: var(--white);
  --color-text: var(--white);
  --color-text-secondary: var(--white);
  --color-link: var(--white);
  --color-link-active: var(--white);
  --color-chip: var(--violet);
}

.blue {
  --color-background: blue;
  --color-border: var(--white);
  --color-text: var(--white);
  --color-text-secondary: var(--white);
  --color-link: var(--white);
  --color-link-active: var(--white);
  --color-chip: var(--violet);
}

.green {
  --color-background: var(--green);
  --color-border: var(--pink);
  --color-text: var(--white);
  --color-text-secondary: var(--pink);
  --color-link: var(--white);
  --color-link-active: var(--pink);
  --color-chip: var(--pink);
}

@media (prefers-color-scheme: dark) {
  :root {
    // colors
    --color-background: var(--black);
    --color-border: var(--white);
    --color-text: var(--white);
    --color-text-secondary: var(--white);
  --color-link: var(--white);
  --color-link-active: var(--white);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-text);
  padding: 1rem;
  background: var(--color-background);
  line-height: 1.6;
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include lg {
    padding: 2rem;
  }
}

.mobile-only {
  @include lg {
    display: none;
  }
}