:root {
  --white: #ffffff;

  --black: #232323;

  --grey: #d1d3d4;

  --green: #3c5725;
  --violet: #5955a4;
  --blue: #242042;
  --pink: #fda2a2;
  --yellow: #ffc32b;
  --red: #ff6353;
}

.light {
  --color-background: #e9e8ec;
  --color-border: var(--black);
  --color-text: var(--black);
  --color-text-secondary: var(--black);
  --color-link: var(--black);
  --color-link-active: var(--violet);
  --color-chip: var(--violet);
  --color-button-background: var(--violet);
  --color-button-background-active: var(--violet);
  --color-button-color: var(--white);
}

.dark {
  --color-background: var(--black);
  --color-border: var(--white);
  --color-text: var(--white);
  --color-text-secondary: var(--white);
  --color-link: var(--white);
  --color-link-active: var(--violet);
  --color-chip: var(--violet);
  --color-button-background: var(--violet);
  --color-button-background-active: var(--violet);
  --color-button-color: var(--white);
}

.red {
  --color-background: var(--red);
  --color-border: var(--white);
  --color-text: var(--white);
  --color-text-secondary: var(--white);
  --color-link: var(--white);
  --color-link-active: var(--white);
  --color-chip: var(--violet);
  --color-button-background: var(--violet);
  --color-button-background-active: var(--violet);
  --color-button-color: var(--white);
}

.blue {
  --color-background: var(--blue);
  --color-border: var(--white);
  --color-text: var(--white);
  --color-text-secondary: var(--yellow);
  --color-link: var(--white);
  --color-link-active: var(--yellow);
  --color-chip: var(--yellow);
  --color-button-background: var(--yellow);
  --color-button-background-active: var(--yellow);
  --color-button-color: var(--white);
}

.green {
  --color-background: var(--green);
  --color-border: var(--pink);
  --color-text: var(--white);
  --color-text-secondary: var(--pink);
  --color-link: var(--white);
  --color-link-active: var(--pink);
  --color-chip: var(--pink);
  --color-button-background: var(--pink);
  --color-button-background-active: var(--pink);
  --color-button-color: var(--white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: 400;
  transition: color .4s;
  transition: background-color .4s;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-text);
  padding: 1rem;
  background: var(--color-background);
  line-height: 1.6;
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include lg {
    padding: 2rem;
  }
}

.mobile-only {
  @include lg {
    display: none;
  }
}