%h1 {
    font-size: 2.027rem;
    line-height: 1.4;
    color: var(--color-header-text)
}

%h2 {
    font-size: 1.802rem;
    line-height: 1.4;
    color: var(--color-header-text)
}

%h3 {
    font-size: 1.602rem;
    line-height: 1.8;
    color: var(--color-header-text)
}

%h4 {
    font-size: 1.424rem;
    line-height: 1.4;
    color: var(--color-header-text)
}

%h5 {
    font-size: 1.266rem;
    line-height: 1.2;
    color: var(--color-header-text)
}

%h6 {
    font-size: 1.125rem;
    line-height: 1.2;
    color: var(--color-header-text)
}

%p {
    font-size: 14px;
    line-height: 1.6;
}

%footnote {
    font-size: 0.79rem;
}