#storybook-root {
    height: calc(100vh - 2rem);
    color: var(--color-text);
    background: var(--color-background);
    line-height: 1.6;
    font-family: "Source Code Pro", monospace;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}